<div ng-include="'app/views/shared/header.ejs'" data-ng-init="getReviewedMovies()"></div>

<div class="alert alert-danger" role="alert" ng-if="user_Message">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ user_Message }}
</div>

<div class="container" ng-controller="MainController" data-ng-init="getBestRatedMovies()">
	<h3 class="text-center"> Recommended Movies</h3>
	<table class="table table-condensed">
	  <thead>
	  	<tr>
	  	<th>Title</th>
	  	<th>Actors</th>
	  	<th>Directors</th>
	  	<th>Writers</th>
	  	<th>Genre</th>
	  	<th>Rated</th>
	  	<th>Year</th>
	  	<th>Why is this good?</th>
	  	<th>Did you like this movie?</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr ng-repeat="movie in recommendedMovies | limitTo:5">
	  		<td>{{movie.title}}</td>
	  		<td>{{movie.actors}}</td>
	  		<td>{{movie.directors}}</td>
	  		<td>{{movie.writers}}</td>
	  		<td>{{movie.genre}}</td>
	  		<td>{{movie.rated}}</td>
	  		<td>{{movie.year}}</td>
	  		<td>{{movie.like}}</td>
	  		<td><button style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up" ng-click="likedMovieReload(movie.id, false, true, true)"></button><button style="margin-left: 20px" class="glyphicon glyphicon-thumbs-down" ng-click="likedMovieReload(movie.id, false, false, true)"></button></td>
	  	</tr>
	  </tbody>
	</table>
</div>

<div class="container">
	<h3 class="text-center"> Liked Movies</h3>
	<table class="table table-condensed">
	  <thead>
	  	<tr>
	  	<th>Title</th>
	  	<th>Actors</th>
	  	<th>Directors</th>
	  	<th>Writers</th>
	  	<th>Genre</th>
	  	<th>Rated</th>
	  	<th>Year</th>
	  	<th>Imdb Rating</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr ng-repeat="movie in likedMovies">
	  		<td>{{movie.title}}</td>
	  		<td>{{movie.actors}}</td>
	  		<td>{{movie.directors}}</td>
	  		<td>{{movie.writers}}</td>
	  		<td>{{movie.genre}}</td>
	  		<td>{{movie.rated}}</td>
	  		<td>{{movie.year}}</td>
	  		<td>{{movie.imdbrating}}</td>
	  	</tr>
	  </tbody>
	</table>
</div>

<div class="container">
	<h3 class="text-center"> Disliked Movies</h3>
	<table class="table table-condensed">
	  <thead>
	  	<tr>
	  	<th>Title</th>
	  	<th>Actors</th>
	  	<th>Directors</th>
	  	<th>Genre</th>
	  	<th>Rated</th>
	  	<th>Year</th>
	  	<th>Imdb Rating</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr ng-repeat="movie in dislikedMovies">
	  		<td>{{movie.title}}</td>
	  		<td>{{movie.actors}}</td>
	  		<td>{{movie.directors}}</td>
	  		<td>{{movie.genre}}</td>
	  		<td>{{movie.rated}}</td>
	  		<td>{{movie.year}}</td>
	  		<td>{{movie.imdbrating}}</td>
	  	</tr>
	  </tbody>
	</table>
</div>